.overflow-wrapper {
  overflow-x: hidden;
}

body {
  font-family: "Bitter", Georgia, 'Times New Roman', Times, serif;
}

#header {
  height: 90vh;
}

#header-text {
  max-width: 90%;
}

.heading {
  font-size: 5rem;
}

.project {
  margin-bottom: 50px;
}

.h1 {
  font-size: 3.5rem;
}

.h5 {
  font-size: 1.5rem;
}

.scroll-arrow {
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  animation: arrowPulse 1s ease-out;
  animation-iteration-count: infinite;
}

/* Helper Classes */

.bg-green {
  background-color: #00b894;
}

.color-green {
  color: #00b894;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

/* Arrow Animation */

@keyframes arrowPulse {

  0% {
    opacity: 1;
    transform: translateY(0)
  }

  60% {
    transform: translateY(-7px)
  }

  75% {
    opacity: .4;
  }

  100% {
    opacity: 1;
    bottom: 0;
    transform: translateY(0);
  }
}

/* Media Queries */

@media (max-width: 992px) {
  .heading {
    font-size: 2.75rem;
  }

  .h5 {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  #header {
    height: 90vh;
  }

  .heading {
    font-size: 2.75rem;
  }

  .h5 {
    font-size: 1.175rem;
  }
}