body {
  font-family: "Bitter", Georgia, 'Times New Roman', Times, serif;
  overflow-x: hidden;
}

#header {
  height: 90vh;
}

#header-text {
  max-width: 80%;
}

#hello {
  font-size: 5rem;
  font-family: "Rubik", sans-serif;
}

.project {
  margin-bottom: 50px;
}

.h1 {
  font-size: 3.5rem;
}

.h5 {
  font-size: 1.5rem;
}

.scroll-arrow {
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Helper Classes */

.bg-gray {
  background-color: #b2bec3;
}

.bg-grayer {
  background-color: #b2bec3d1;
}

.bg-pink {
  background-color: #ff7675;
}

.color-pink {
  color: #ff7675;
}

.bg-yellow {
  background-color: #ffeaa7;
}

.color-yellow {
  color: #ffeaa7;
}

/* Media Queries */

@media (max-width: 992px) {
  body {
    overflow: hidden;
  }
  
  #hello {
    font-size: 2.75rem;
  }

  .h5 {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  body {
    overflow: hidden;
  }

  #hello {
    font-size: 2.75rem;
  }

  .h5 {
    font-size: 1.175rem;
  }
}