body {
  font-family: "Source Sans", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a.icon {
  text-decoration: none;
}

/* Helper Classes */
.bg-gray {
  background-color: #dfe6e9;
}

.bg-pink {
  background-color: #e84393;
}

.color-pink {
  color: rgb(232, 67, 147);
}

.color-pink:hover {
  color: #bf417e;
}